$def with (bugs, form, table)

<!DOCTYPE html>
<html>
<base href="https://bugzilla.eng.vmware.com/" />
<title>OnPrem QE Platform Triage Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://www.w3schools.com/lib/w3.css" rel="stylesheet" type="text/css">


<div class="w3-container">
<h2>Bugs to be triaged TODAY</h2>
 
<table id="buglistSorter" class="w3-table-all w3-card-4"> 
$:table
</table>  
</div>



<div class="w3-container">
<h2>Bugs triage history</h2>
<h3>$len(bugs) bugs found</h3>
<table>
  <tr>
    <th rowspan="2" class="w3-teal">legend:</th>
    <td class="w3-purple">Bugs that resolved more than 14 days not closed</td>
  </tr>
  <tr>
    <td class="w3-orange">Bugs that triaged more than 7 days not resolved</td>
  </tr>
</table>

<table id="buglistSorter" class="w3-table-all w3-card-4"> 
      <tr class="w3-teal">
        <th>ID</th>
        <th>Sev</th>
        <th>Pri</th>
        <th>Status</th>
        <th>Assignee</th>
        <th>QA</th>
        <th>Product</th>
        <th>Category</th>
        <th>Component</th>
        <th>Fix By</th>
        <th>Summary</th>
      </tr>

$for bug in bugs:
    $if bug[5] == 'new' and bug[13]:
        <tr class="w3-orange">
    $elif bug[5] == 'resolved' and bug[12]:
        <tr class="w3-purple">
    $else:
        <tr>
    <td><a href="show_bug.cgi?id=$bug[1]">$bug[1]</a></td>
    <td>$bug[3]</td>
    <td>$bug[4]</td>
    <td>$bug[5]</td>
    <td>$bug[6]</td>
    <td>$bug[7]</td>
    <td>$bug[8]</td>
    <td>$bug[9]</td>
    <td>$bug[10]</td>
    <td>$bug[11]</td>
    <td><a href="show_bug.cgi?id=$bug[1]" title=$bug[2]>$bug[2]</a></td>
    </tr>


</table>



<form action="" method="post">
$:form.render()
</form>

</div>
</html>
