$def with (bugs, form, table, listNPR, listNPC, listNPM)

<div class="w3-container">
<h2>Bugs to be triaged TODAY</h2>
 
<table id="buglistSorter" class="w3-table-all w3-card-4 w3-hoverable"> 
$:table
</table>  
</div>



<div class="w3-container mydiv">
<h2>Bugs triage history</h2>
<h3>$len(bugs) bugs found</h3>
<table>
  <tr>
    <th rowspan="2" class="w3-teal">legend:</th>
    <td class="w3-blue-grey">Bugs that resolved more than 14 days not closed</td>
  </tr>
  <tr>
    <td class="ming-red">Bugs that triaged more than 7 days not resolved</td>
  </tr>
</table>

<table id="bugdbtable" class="w3-table-all w3-card-4 w3-hoverable scrollTable"> 
    <thead>
        <tr class="w3-teal">
        <th>ID</th>
        <th>Sev</th>
        <th>Pri</th>
        <th>Status</th>
        <th>Assignee</th>
        <th>QA</th>
        <th class="pccTD">Product</th>
        <th class="pccTD">Category</th>
        <th class="pccTD">Component</th>
        <th class="pccTD">Fix By</th>
        <th class="summaryTD">Summary</th>
        </tr>
  </thead>


<tbody>
$for bug in bugs:
    $if bug[5] == 'new' and bug[13]:
        <tr class="w3-blue-grey">
    $elif bug[5] == 'resolved' and bug[12]:
        <tr class="ming-red">
    $else:
        <tr>
    <td><a href="show_bug.cgi?id=$bug[1]">$bug[1]</a></td>
    <td>$bug[3]</td>
    <td>$bug[4]</td>
    <td>$bug[5]</td>
    <td>$bug[6]</td>
    <td>$bug[7]</td>
    <td class="pccTD">$bug[8]</td>
    <td class="pccTD">$bug[9]</td>
    <td class="pccTD">$bug[10]</td>
    <td class="pccTD">$bug[11]</td>
    <td class="summaryTD"><a href="show_bug.cgi?id=$bug[1]" title=$bug[2]>$bug[2]</a></td>
    </tr>

</tbody>
</table>



<form action="" method="post">
$:form.render()
</form>

</div>

<div>
<h2>Statistics</h2>


<div class="canDiv">
    <canvas  id="nprBar" height="400"></canvas>
</div>
<script>
var ctx = document.getElementById("nprBar").getContext("2d");
ctx.canvas.width  = window.innerWidth;
var labelColor = "rgba(45, 57, 51, 0.8)"
var nprBar = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: $:listNPR[0],
        datasets: [{
            label: 'Number of PR Per Release',
            backgroundColor: "rgba(255, 99, 132, 0.2)",
            borderColor: 'rgba(255,99,132,1)',
            borderWidth: 1,
            hoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
            hoverBorderColor: "rgba(75, 192, 192, 1)",
            data: $:listNPR[1],
        }]
    },
    options: {
        legend: {labels:{fontColor:labelColor, fontSize: 24}},
        scales: {
            yAxes: [{
                ticks: {
                    fontColor: labelColor,
                    fontSize: 18,
                    beginAtZero:true
                }
            }],
            xAxes: [{
                ticks: {
                    fontColor: labelColor,
                    fontSize: 12
                }
            }]

        }
    }
});
</script>


<div class="canDiv">
    <canvas id="npcBar" height="400"></canvas>
</div>
<script>
var ctx = document.getElementById("npcBar").getContext("2d");
ctx.canvas.width  = window.innerWidth;
var labelColor = "rgba(45, 57, 51, 0.8)"
var npcBar = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: $:listNPC[0],
        datasets: [{
            label: 'Number of PR Per Component',
            backgroundColor: "rgba(54, 162, 235, 0.2)",
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1,
            hoverBackgroundColor: "rgba(255, 159, 64, 0.2)",
            hoverBorderColor: "rgba(255, 159, 64, 1)",
            data: $:listNPC[1],
        }]
    },
    options: {
        legend: {labels:{fontColor:labelColor, fontSize: 24}},
        scales: {
            yAxes: [{
                ticks: {
                    fontColor: labelColor,
                    fontSize: 18,
                    beginAtZero:true
                }
            }],
            xAxes: [{
                ticks: {
                    fontColor: labelColor,
                    fontSize: 12
                }
            }]

        },
    }
});
</script>

<div class="canDiv">
    <canvas id="npmLine" height="400"></canvas>
</div>
<script>
var ctx = document.getElementById("npmLine").getContext("2d");
ctx.canvas.width  = window.innerWidth;
var labelColor = "rgba(45, 57, 51, 0.8)"
var npmLine = new Chart(ctx, {
    type: 'line',
    data: {
        labels: $:listNPM[0],
        datasets: [
            {
            label: 'Number of PR Per Month',
            data: $:listNPM[1],
            fill: false,
            borderColor: "rgba(255, 159, 64, 1)",
            borderWidth: 1,
            pointBorderColor: "rgba(153, 102, 255, 1)",
            pointBackgroundColor: "rgba(153, 102, 255, 0.2)",
            hoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
            hoverBorderColor: "rgba(75, 192, 192, 1)",
            pointRadius: 6,
            pointHoverRadius: 10,
            lineTension: 0,
            }
        ]
    },
    options: {
        legend: {labels:{fontColor:labelColor, fontSize: 24}},
        scales: {
            yAxes: [{
                ticks: {
                    fontColor: labelColor,
                    fontSize: 18,
                    beginAtZero:true
                }
            }],
            xAxes: [{
                ticks: {
                    fontColor: labelColor,
                    fontSize: 12
                }
            }]

        },
    }
});
</script>

</div>
